.wrapperHomePage {
    color: $c-bg-primary;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    &__nmb {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 120px;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }
    &__ttl {
        font-size: 70px;
        margin-bottom: 10px;
        text-align: center;
    }
    &__txt {
        margin: 0 20px 20px 20px;
        font-size: 33px;
        color: $c-font-primary;
        text-align: center;
    }
    @media (max-width: $break-tablet) {
        &__ttl {
            font-size: 60px;
        }
        &__txt {
            font-size: 27px;
            margin: 0 20px;
        }
    }
    @media (max-width: $break-mobile) {
        &__ttl {
            font-size: 40px;
        }
        &__txt {
            font-size: 20px;
            margin: 0 20px;
        }
    }
}