.wrapperHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  max-width: $break-laptop;


  & .btn {
    margin: 20px auto;
    padding: 30px 40px;
    height: 100px;
    background: #AE0001;
    font-size: 50px;
    color: #D3A625;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
  }
}