.quizHouses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__body {
      color: $c-font-primary;
      background-color: $c-bg-primary;
      border-radius: 10px;
      font-size: 2em;
      box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.35);
      border: 2px solid black;
      box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
      text-align: center;
      padding: 0.5em;
      word-wrap: break-word;
      letter-spacing: 2px;
    }

    &__name {
      margin: 1em;
      color: $c-font-primary;
      background-color: $c-bg-primary;
      border-radius: 10px;
      font-size: 2em;
      box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.35);
      border: 2px solid black;
      box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
      text-align: center;
      padding: 0.25em;
      word-wrap: break-word;
      letter-spacing: 2px;
      width: 30%;
    }
  }

  &__answers {
    margin: 1em;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $c-bg-primary;
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.35);
    border: 2px solid black;
    box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
    text-align: center;
    padding: 0.5em;
    z-index: 1;
    &__img {
      margin: 0 20px;
    }
    &__img:hover {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffc400, 0 0 30px #ffc400, 0 0 40px #ffc400, 0 0 55px #ffc400,
        0 0 75px #ffc400;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
}

// @media (orientation: portrait) and (max-width: $break-tablet) {
//   .rulesPage__main {
//     margin: 0 20px;
//     & h1 {
//       font-size: $h-headlinesFontSizeTablet;
//     }

//     & p {
//       font-size: $p-paragraphFontSizeTablet;
//     }
//     & p strong {
//       font-size: 2.5rem;
//     }
//   }

//   .rulesPage__buttom {
//     margin: 0 20px;
//   }
// }
// @media (orientation: landscape) and (max-width: 1030px) {
//   .btn {
//     margin: 0px auto;
//   }
//   .rulesPage__main {
//     margin: 0 20px;
//     & h1 {
//       font-size: $h-headlinesFontSizeTablet;
//     }

//     & p {
//       font-size: $p-paragraphFontSizeMobile;
//     }
//     & p strong {
//       font-size: 2rem;
//     }
//   }

//   .rulesPage__buttom {
//     margin: 0 20px;
//   }
// }
// @media (orientation: landscape) and (max-width: 850px) {
//   .rulesPage__main {
//     margin: 0px 20px;
//     padding: 10px 10px;
//     & h1 {
//       margin: 0px 5px;
//       font-size: $h-headlinesFontSizeMobileSmall;
//     }

//     & p {
//       font-size: $p-paragraphFontSizeMobileSmall;
//     }
//     & p strong {
//       font-size: 1.5rem;
//     }
//   }
// }

@media (orientation: portrait) and (max-width: $break-mobile) {
  .quizPage__header {
    flex-direction: column;
    flex-wrap: wrap;

    h2 {
      font-size: 25px;
    }
    .wrapperquizPage__category--timer {
      width: 100%;

      #timer_clock {
        width: 90%;
      }
      .wand, .fire {
        display: none;
      }
    }
  }

  .background_container {

  }

  .quizHouses__answers {
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    width: 90%;

    img {
      max-width: 120px;
    }
  }

}

// @media (orientation: portrait) and (max-width: $break-xxs) {
//   .rulesPage__main {
//     margin: 0 10px;
//     padding: 0px 10px;

//     & h1 {
//       font-size: $h-headlinesFontSizeMobileSmall;
//     }

//     & p {
//       font-size: $p-paragraphFontSizeMobileSmall;
//     }
//     & p strong {
//       font-size: 1.5rem;
//     }
//   }
// }
