.quizHouses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  .wrapperquizPage__category--timer {
    .timer_clock {
      margin: auto;
      height: auto;
    }
  }

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__body {
      color: $c-font-primary;
      background-color: $c-bg-primary;
      border-radius: 10px;
      font-size: 2em;
      box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.35);
      border: 2px solid black;
      box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
      text-align: center;
      padding: 0.5em;
      word-wrap: break-word;
      letter-spacing: 2px;
    }

    &__name {
      margin: 1em;
      color: $c-font-primary;
      background-color: $c-bg-primary;
      border-radius: 10px;
      font-size: 2em;
      box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.35);
      border: 2px solid black;
      box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
      text-align: center;
      padding: 0.25em;
      word-wrap: break-word;
      letter-spacing: 2px;
      width: 30%;
    }
  }

  &__answers {
    margin: 1em;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $c-bg-primary;
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.35);
    border: 2px solid black;
    box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
    text-align: center;
    padding: 0.5em;
    z-index: 1;
    &__img {
      margin: 0 20px;

      .correct {
        background-color: green;
        border: 5px solid #570509;
      }

      .wrong {
        background-color: gray;
      }
    }
    &__img:hover {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffc400, 0 0 30px #ffc400, 0 0 40px #ffc400, 0 0 55px #ffc400,
        0 0 75px #ffc400;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .quizHouses__answers__img.correct {
    background-color: #1a472a;
    border: 5px solid #570509;
  }

  .quizHouses__answers__img.wrong {
    background-color: gray;
  }
}
//1060px
@media (orientation:landscape) and(max-width: $break-small-laptop){
  .questionText {
    p {
      height: auto;
      width: 100%;
      white-space: initial;
      font-size: 27px !important;
      line-height: 3.5;
    }
  }
}

@media (orientation:landscape) and (max-width:994px) {

  .background_quiz_houses {
    height: auto;
    .wrapperquizPage{
      height: 100vh;

      .quizPage__header {
        flex-wrap: wrap;
        margin: 30px 0;

        .background_container {
          margin-bottom: 0;
          h2 {
            font-size: 40px;
          }
        }
        .wrapperquizPage__category--timer {
          width: 90%;
          margin: auto;
          max-height: 100px;

          .timer_clock {
            width: 40%;
            font-size: 25px;
            margin: auto;
          }
        }
      }

      .background_container {
        width: 95%;
        height: auto;
        display: block;
        overflow: auto;
        p {
          height: auto;
          width: 100%;
          white-space: initial;
          font-size: 18px;
          line-height: 2;
        }
      }

      .characterName {
        height: 100%;
        min-height: 55px;
      }

      .quizHouses__answers {
        flex-direction: column;
        flex-wrap: wrap;
        height: 350px;
        width: 90%;

        img {
          max-width: 125px;
          margin: auto;
        }
      }
    }
  }

  .questionText {
    height: 100%;
    min-height: 125px;
    p {
      height: auto;
      width: 100%;
      white-space: initial;
      font-size: 25px;
      line-height: 2;
    }
  }
}

@media (orientation: portrait) and (max-width: 927px) {
  .background_quiz_houses {
    height: auto;
    .wrapperquizPage{
      height: 100vh;

      .quizPage__header {
        flex-wrap: wrap;
        margin: 30px 0;

        .background_container {
          margin-bottom: 0;
          h2 {
            font-size: 40px;
          }
        }
        .wrapperquizPage__category--timer {
          width: 90%;
          margin: auto;
          max-height: 100px;

          .timer_clock {
            width: 40%;
            font-size: 25px;
            margin: auto;
          }
        }
      }

      .background_container {
        width: 95%;
        height: auto;
        display: block;
        overflow: auto;
        p {
          height: auto;
          width: 100%;
          white-space: initial;
          font-size: 18px;
          line-height: 2;
        }
      }

      .characterName {
        height: 100%;
        min-height: 53px;
      }

      .quizHouses__answers {
        flex-direction: column;
        flex-wrap: wrap;
        height: 350px;
        width: 90%;

        img {
          max-width: 125px;
          margin: auto;
        }
      }
    }
  }

  .questionText {
    height: 100%;
    min-height: 88px;
    p {
      height: auto;
      width: 100%;
      white-space: initial;
      line-height: 2;
    }
  }
}

@media (orientation: portrait) and (max-width: 799px){
  .quizPage__header{
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}

@media (orientation: portrait) and (max-width: $break-mobile) {
  .background_quiz_houses {
    height: auto;
    .wrapperquizPage{
      height: 100vh;

      .quizPage__header {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px 0;

        .background_container {
          h2 {
            font-size: 40px;
          }
        }
        .wrapperquizPage__category--timer {
          width: 90%;
          margin: auto;

          .timer_clock {
            width: 40%;
            font-size: 25px;
            margin: auto;
          }
        }
      }

      .background_container {
        width: 95%;
        height: auto;
        display: block;
        overflow: auto;
        p {
          height: auto;
          width: 100%;
          white-space: initial;
          font-size: 18px;
          line-height: 2;
        }
      }

      .quizHouses__answers {
        flex-direction: column;
        flex-wrap: wrap;
        height: 400px;
        width: 90%;

        img {
          max-width: 120px;
        }
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 398px) {

  .questionText {
    min-height: 130px;
  }

  .quizHouses__answers {
    max-height: 300px;
    img {
      max-width: 100px !important;
    }
  }
}