.wrapperquizPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 100vh;
  max-width: $break-laptop;

  &__category {
    display: flex;
    width: 80%;
    height: 10%;
    margin: 100px 0;
    &--name,
    &--timer {
      height: 100%;
    }
    &--name {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      width: 40%;
    }
    &--timer {
      width: 60%;
      display: flex;
      justify-content: center;

      .wand {
        width: 50%;
        height: 100%;
        background-image: url('../static/wand.png');
        background-size: contain;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(1.5);
        filter: drop-shadow(0px 1px 9px rgba(211, 166, 37, 1));
      }
      .fire {
        position: relative;
        width: 50%;
        height: 100%;
        &::before {
          content: '';
          position: absolute;
          height: 4px;
          width: 114%;
          background: white;
          left: -43px;
          top: 48%;
          border-radius: 40%;
          box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffc400, 0 0 30px #ffc400, 0 0 40px #ffc400,
            0 0 55px #ffc400, 0 0 75px #ffc400;
          animation: time-passing linear 61s;
        }
        @keyframes time-passing {
          0% {
            width: 114%;
          }
          100% {
            width: 0%;
          }
        }
      }
    }
  }
  &__question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 80%;
  }

  &__main {
    img {
      max-height: 450px;
      object-fit: cover;
    }
  }
}

.quizPage__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.background_container {
  margin: 20px 10px;
  padding: 6px 40px;
  height: 95px;
  background: $c-bg-primary;
  font-size: $b-buttonFontSize;
  color: $c-font-primary;
  text-align: center;
  line-height: 95px;
  white-space: nowrap;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  border: 2px solid black;
  box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
  border-radius: 10px;
  & p {
    font-size: $p-paragraphFontSize;
  }
}

@media (orientation:landscape) and(max-width: $break-small-laptop){
  .questionBox {
    p {
      height: auto;
      width: 100%;
      white-space: initial;
      font-size: 27px !important;
      line-height: 3.5;
    }
  }
}

@media (orientation:landscape) and (max-width:1030px) {

  .hide {
    &__main--photoBox {
      min-height: 350px;
      min-width: 200px;
    }
    .wrapperquizPage__main--answersBox {
      button {
        margin: 17px auto;
        font-size: 25px;
      }
    }
  }

}

@media (orientation: portrait) and (max-width: 927px) {
  .wrapperquizPage {
    min-height: 100vh;
    .quizPage__header {
      // flex-direction: column;
      // flex-wrap: wrap !important;
      // height: auto;
    }
  }
  .questionBox {
    width: 75%;
    height: 100px;
    p {
      width: 100%;
      white-space: initial;
      font-size: 25px !important;
      line-height: 1.5;
    }
  }
  .wrapperquizPage__main--answersBox {
    button {
      margin: 17px auto;
      font-size: 25px;
    }
  }
}

@media (orientation: portrait) and (max-width: 893px) {

  .wrapperquizPage {
    min-height: 100vh;
  }
  .timer_clock {
    min-width: 80px;
  }
  .questionBox {
    p {
      font-size: 22px !important;
    }
  }
}

@media (orientation: portrait) and (max-width: 799px) {
  .wrapperquizPage__category--timer {
    max-height: 150px;
  }
  .quizPage__header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .questionBox {
    p {
      line-height: 1.7;
    }
  }

  .hide {
    &__main--photoBox {
      min-height: 280px;
      min-width: 180px;
    }
    .wrapperquizPage__main--answersBox {
      button {
        margin: 15px auto;
        font-size: 22px;
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 650px) {
  .wrapperquizPage {
    min-height: 110vh;
  }
  .quizPage__header{
    max-height: 280px;
  }
  .wrapperquizPage__category--timer {
  }
  .wrapperquizPage__main--answersBox {
    button {
      margin: 15px auto;
      font-size: 18px !important;
    }
  }
}

@media (orientation: portrait) and (max-width: 557px) {
  .wrapperquizPage {
    height: 100vh;

    &__main {
      flex-direction: column;
    }

    &__main--photoBox {
    }
  }
}

@media (orientation: portrait) and (max-width: 540px) {
  .questionBox {
    p {
      font-size: 18px !important;
    }
  }
}

@media (orientation: portrait) and (max-width: 415px){
  .wrapperquizPage__main--photoBox {
    height: 200px;
    width: 200px;
  }
}

@media (orientation: portrait) and (max-width: 398px) {
  .background_container {
    h2 {
      font-size: 40px;
    }
  }
}

@media (orientation: portrait) and (max-width: 329px) {
  .questionBox {
    min-height: 135px !important;
  }
}
@media (orientation: landscape) and (max-height: 380px) {
.wrapperquizPage {
    height: 150vh;
  }
}
@media (orientation: landscape) and (max-height: 300px) {
  .wrapperquizPage {
      height: 300vh !important;
    }
  }