.wrapperquizPage__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  &--photoBox {
    margin: 0 40px;
    // height: 80%;
    width: 35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius: 20px;
    position: relative;
    border: 2px solid $c-font-hover;
    box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
  }
  &--answersBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn.correct {
    border: 5px solid #1a472a;
    background-color: #1a472a;
  }

  .btn.wrong {
    border: 5px solid #570509;
    background-color: gray;
  }

  .hide {
    display: none;
  }

  &__main {
    &__main--photoBox {
      max-height: 450px;
      object-fit: cover;
    }
  }
}

@media (orientation:landscape) and(max-width: $break-small-laptop){
  .questionBox {
    p {
      height: auto;
      width: 100%;
      white-space: initial;
      font-size: 27px !important;
      line-height: 3.5;
    }
  }
}

@media (orientation:landscape) and (max-width:1030px) {

  .hide {
    &__main--photoBox {
      min-height: 350px;
      min-width: 200px;
    }
    .wrapperquizPage__main--answersBox {
      button {
        margin: 17px auto;
        font-size: 25px;
      }
    }
  }

}

@media (orientation: portrait) and (max-width: 927px) {
  .questionBox {
    width: 75%;
    p {
      width: 100%;
      white-space: initial;
      font-size: 25px !important;
    }
  }
  .wrapperquizPage__main--answersBox {
    button {
      margin: 17px auto;
      font-size: 25px;
    }
  }
}

@media (orientation: portrait) and (max-width: 893px) {

  .wrapperquizPage {
    min-height: 100vh;
  }
  .timer_clock {
    min-width: 80px;
  }
  .questionBox {
    p {
      font-size: 22px !important;
    }
  }
}

@media (orientation: portrait) and (max-width: 799px) {
  .wrapperquizPage__category--timer {
    max-height: 150px;
  }
  .quizPage__header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .questionBox {
    p {
      line-height: 1.7;
    }
  }

  .hide {
    &__main--photoBox {
      min-height: 280px;
      min-width: 180px;
    }
    .wrapperquizPage__main--answersBox {
      button {
        margin: 15px auto;
        font-size: 22px;
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 650px) {
  .wrapperquizPage {
    min-height: 110vh;
  }
  .quizPage__header{
    max-height: 280px;
  }
  .wrapperquizPage__category--timer {
  }
  .wrapperquizPage__main--answersBox {
    button {
      margin: 15px auto;
      font-size: 18px !important;
    }
  }
}

@media (orientation: portrait) and (max-width: 557px) {
  .wrapperquizPage {
    height: 100vh;

    &__main {
      flex-direction: column;
    }

    &__main--photoBox {
    }
  }
}

@media (orientation: portrait) and (max-width: 540px) {
  .questionBox {
    p {
      font-size: 18px !important;
    }
  }
}

@media (orientation: portrait) and (max-width: 398px) {
  .background_container {
    h2 {
      font-size: 40px;
    }
  }
}

@media (orientation: portrait) and (max-width: 329px) {
  .questionBox {
    min-height: 135px !important;
  }
}
@media (orientation: landscape) and (max-height: 380px) {
.wrapperquizPage {
    height: 180vh !important;
  }
}