.ranking__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: $p-paragraphFontSize;
  .ranking {
    max-width: $break-laptop;
    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      color: $c-font-primary;
      background-color: $c-bg-primary;
      border-radius: 10px;
      list-style-position: inside;
      box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      border: 2px solid black;
      margin: 0 40px;
      min-width: 80%;
      h1 {
        font-weight: 400;
        text-transform: uppercase;
      }
  
      &--button {
        align-self: flex-end;
  
        .btn {
          margin: 0 40px;
        }
      }
    }
  
    .ranking__categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
  
      .ranking__list {
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding: 0 40px;
      }
  
      h2 {
        margin: 20px 0;
        text-transform: uppercase;
      }
  
      #rankingStudents,
      #rankingStaff,
      #rankingHouses {
        .ranking__list--item {
          display: flex;
          justify-content: space-between;
  
          .points {
            margin-left: 40px;
  
            span {
              padding-left: 20px;
            }
          }
        }
      }
    }
  
    @media (max-width: $break-mobile) {
      overflow-y: auto;
      &__wrapper {
        justify-content: center;
        flex-direction: column;
      }
  
      &__main {
        width: 90%;
        margin-top: 20px;
  
        h1 {
          font-size: 1.7rem;
          white-space: nowrap;
        }
  
        &--button {
          margin-top: 20px;
          h1 {
            font-size: 1.7rem;
            white-space: nowrap;
          }
        }
      }
  
      .ranking__categories {
        max-height: 80%;
        flex-direction: column;
        .ranking__list {
          font-size: 1rem;
  
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
    @media (max-width: $break-laptop) {
      &__wrapper {
        justify-content: center;
        flex-direction: column;
      }
      &__main {
        &--button {
          margin-top: 20px;
          h1 {
            font-size: 1.7rem;
            white-space: nowrap;
          }
        }
      }
      .ranking__categories {
        flex-direction: column;
      }
    }
  }
}
