.resultPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  max-width: $break-laptop;

  &__wrapper {
    margin: 40px 60px;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__yourScore {
    margin: 20px auto;
    padding: 15px 40px;
    height: 110px;
    background: $c-bg-primary;
    font-size: $b-buttonFontSize;
    color: $c-font-primary;
    text-align: center;
    line-height: 95px;
    white-space: nowrap;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    border: 2px solid black;
    box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
    border-radius: 10px;
    & p {
      font-size: 3.5rem;
    }
  }

  &__congrats {
    margin: 20px auto;
    padding: 6px 30px;
    background: $c-bg-primary;
    font-size: $b-buttonFontSize;
    color: $c-font-primary;
    text-align: center;
    line-height: 60px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    border: 2px solid black;
    box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
    border-radius: 10px;
    & p {
      font-size: $p-paragraphFontSize;
    }
  }

  &__bestScores {
    grid-area: bestScores;
    color: $c-font-primary;
    background-color: $c-bg-primary;
    border-radius: 10px;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 2px solid black;
    box-shadow: 0px 0px 11px 0px rgba(211, 166, 37, 1);
    padding: 1em;

    &--list {
      padding: 10px;
      margin: auto 10%;
    }
  }
  @media (max-width: $break-tablet) {
    flex-direction: column;
    max-width: $break-tablet;
    justify-content: center;
    &__menu {
      flex-direction: row;
      gap: 1.5em;
    }
    &__yourScore {
      height: 100px;
      line-height: 80px;
      padding: 15px 40px;
      & p {
        font-size: $h-headlinesFontSizeTablet;
      }
    }
    &__congrats {
      & p {
        font-size: $p-paragraphFontSizeTablet;
      }
    }
    &__bestScores {
      font-size: $p-paragraphFontSizeTablet;
      padding: 0.5em;
    }
  }

  @media (max-width: $break-mobile) {
    flex-direction: column;
    max-width: $break-mobile;
    justify-content: center;
    &__menu {
      flex-direction: row;
      gap: 1rem;
    }
    &__yourScore {
      height: 70px;
      line-height: 45px;
      & p {
        font-size: 1.5rem;
      }
    }
    &__congrats {
      & p {
        font-size: $p-paragraphFontSizeMobile;
        line-height: 40px;
      }
    }
    &__bestScores {
      font-size: $p-paragraphFontSizeMobile;
    }
  }
}
