//  Colors
//==========================================================================
$c-black: #000;
$c-white: #fff;

$c-font: #efefef;
$c-font-secondary: #999;

// Fonts
//==========================================================================
$f-baseFontFamily: 'Montserrat', sans-serif;

// Breaks
//==========================================================================
$break-xs: 575;
$break-mobile: 767px;
$break-tablet: 991px;
$break-laptop: 1200px;

// Paddings, Margins
//==========================================================================
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;
