//  Colors
//==========================================================================
$c-black: #000;
$c-white: #fff;
$c-font: #efefef;
$c-font-primary: #d3a625;
$c-font-secondary: #999;
$c-font-hover: #eeba30;
$c-font-time: #0e0d0c;

$c-bg-primary: #ae0001;
$c-bg-hover: #740001;
$c-bg-time: #535050;

// Fonts
//==========================================================================
$f-baseFontFamily: 'Montserrat', sans-serif;
$f-mainFontFamily: 'Harry Potter', sans-serif;

$h-headlinesFontSize: 4rem;
$b-buttonFontSize: 2.5rem;
$p-paragraphFontSize: 1.8rem;

$h-headlinesFontSizeTablet: 3rem;
$b-buttonFontSizeTablet: 2rem;
$p-paragraphFontSizeTablet: 2rem;

$h-headlinesFontSizeMobile: 2.5rem;
$b-buttonFontSizeMobile: 1.5rem;
$p-paragraphFontSizeMobile: 1.2rem;

$h-headlinesFontSizeMobileSmall: 2rem;
$b-buttonFontSizeMobileSmall: 1.5rem;
$p-paragraphFontSizeMobileSmall: 1rem;

// Breaks
//==========================================================================
$break-xxs: 350px;
$break-xs: 575px;
$break-mobile: 767px;
$break-tablet: 991px;
$break-laptop: 1200px;

// Paddings, Margins
//==========================================================================
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;
