//  Colors
//==========================================================================
$c-black: #000;
$c-white: #fff;
$c-font: #efefef;
$c-font-primary:#D3A625;
$c-font-secondary: #999;
$c-font-hover:#EEBA30;

$c-bg-primary: #AE0001;
$c-bg-hover: #740001;


// Fonts
//==========================================================================
$f-baseFontFamily: 'Montserrat', sans-serif;
$f-mainFontFamily: 'Harry Potter', sans-serif;

$h-headlinesFontSize: 4vw;
$b-buttonFontSize: 2.5vw;
$p-paragraphFontSize: 2vw;

// Breaks
//==========================================================================
$break-xs: 575px;
$break-mobile: 767px;
$break-tablet: 991px;
$break-laptop: 1200px;

// Paddings, Margins
//==========================================================================
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;